{% extends 'layout.html' %}

{% block content %}
<div class="new_issue column grid_12">
<form action="/project/{{ project_id }}/new-category" method="post" enctype="multipart/form-data">
	<fieldset>
		<input id="category_name" name="category_name" type="text" placeholder="Category name" /><br />
		<select id="default_assignee" name="default_assignee">
			<option value="0">Default assignee</option>
			{% for user in users %}
			<option value="{{ user.id }}">{{ user.username }}</option>
			{% endfor %}
		</select><br />
		<input type="submit" value="Create new category" />
	</fieldset>
</form>
</div>
{% endblock %}


